<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div *ngIf="activeView === 'view1'">
    <app-landing></app-landing>
    <div class="btns">
      <div class="btn-container">
        <button (click)="setActiveView('view2')">Fill out survey</button>
        <button (click)=fetchSurveyResults()>View Survey Results</button>
      </div>
    </div>
  </div>
  
  <div *ngIf="activeView === 'view2'">
    <app-survey (backToView1)="setActiveView('view1')"></app-survey>
  </div>
  
  <div *ngIf="activeView === 'view3'">
    <app-results [surveyResults]="surveyResults" (backToView2)="setActiveView('view1')"></app-results>
  </div>
  
  
</body>
</html>